.contentLogin {
    position: absolute;
    right: 350px;
    left: 350px;
    top: 100px;
    bottom: 100px;
    background: #FFFFFF;
    box-shadow: 0px 2px 23px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
}

.inputFormLoginUser {
    margin-top: 100px;
    left: 155px;
    right: 155px;
    width: 338px;
    box-shadow: 0px 2px 23px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
}

.inputFormLoginPassword {
    margin-top: 20px;
    left: 155px;
    right: 155px;
    width: 338px;
    box-shadow: 0px 2px 23px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
}

.buttonSubmitLogin {
    width: 194px;
    height: 32px;
    margin-top: 20px;
    left: 220px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    border-radius: 10px;
}

.texth1 {
    text-align: center;
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
}

.formUser {
    margin-top: 20px;
}

.userContent {
    margin-top: 40px;
    margin-left: 200px;
    margin-right: 200px;
    box-shadow: 0px 2px 23px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    background: white;
}

.formFields {
    left: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.buttonSubmit {
    margin-bottom: 25px;
    margin-right: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    color: #FFFFFF;
    background:#4FA1C1;
    border-radius: 10px;
}

.buttonCancel {
    margin-bottom: 25px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    color: #FFFFFF;
    background: red;
    border-radius: 10px;
}

.buttomEdit {
    margin-bottom: 25px;
    margin-right: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    color: #FFFFFF;
    background: orange;
    border-radius: 10px;
}

.buttonDelete {
    margin-bottom: 25px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    color: #FFFFFF;
    background: red;
    border-radius: 10px;
}