.contentLogin {
    position: absolute;
    right: 350px;
    left: 350px;
    top: 100px;
    bottom: 100px;
    background: #FFFFFF;
    box-shadow: 0px 2px 23px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
}

.inputFormLogin {
    top: 50px;
    margin-top: 140px;
    left: 155px;
    width: 338px;
    box-shadow: 0px 2px 23px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
}

.buttonSubmit {
    position: absolute;
    width: 194px;
    height: 32px;
    top: 50px;
    left: 220px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    border-radius: 10px;
}