.buttonSubmit {

    margin-bottom: 25px;
    margin-right: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    color: #FFFFFF;
    background:#4FA1C1;
    border-radius: 10px;
}

.buttonCancel {

    margin-bottom: 25px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    border-radius: 10px;
    margin-right: 20px;
}

.buttonEdit {

    margin-top: 15px;
    margin-right: 20px;
    margin-left: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    color: #FFFFFF;
    background: orange;
    border-radius: 10px;
}

.buttonDelete {

    margin-bottom: 25px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    color: #FFFFFF;
    background: red;
    border-radius: 10px;
}

.buttonSave {

    margin-bottom: 25px;
    margin-right: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    color: #FFFFFF;
    background:green;
    border-radius: 10px;
}

.buttonNew {

    margin-top: 40px;
    margin-right: 30px;
    margin-bottom: -30px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    color: #FFFFFF;
    background: blue;
    border-radius: 10px;
}

.buttonSubmitLogin {

    width: 194px;
    height: 32px;
    margin-top: 20px;
    left: 220px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    border-radius: 10px;
}

.buttonAtaIncomplete {

    margin-right: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    color: #FFFFFF;
    border-radius: 10px;
    background: darkred;
}

.buttonBack {

    margin-left: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    color: #FFFFFF;
    border-radius: 10px;
    background: deepskyblue;
}

.buttonAdd {
    width: 60%;
}

.buttonSwitch {
    margin-left: 30px;
}

.buttonSearch {
    
    margin-bottom: 10px;
    margin-left: 935px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    color: #FFFFFF;
    background:green;
    border-radius: 10px;
}